/* CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: auto; /* Agrega overflow:auto para permitir el desplazamiento cuando el contenido exceda el tamaño de la ventana */
  font-family: 'Poppins', Helvetica;
  background-color: #1c1c1c; /* Color de fondo general */
  padding: 3.5vh;
}


.container {
  display: flex;

}

#toolbar {
  
  font-family: 'Poppins', Helvetica;
  padding: 20px;
  background-color: #343337; /* Color de fondo del menú lateral */
  color: #9455dc;
}

#toolbar h1, #toolbar h2 {
  margin-bottom: 20px;
  text-align: center;
}

#toolbar label {
  display: block;
  margin-bottom: 10px;
}

#toolbar input[type="color"],
#toolbar input[type="number"],
#toolbar button {
  width: 100%;
  margin-bottom: 2vh;
  border-radius: 5px;
}

#toolbar button {
  background-color: #9455dc;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 5px;
}

#barra{
  padding: 10px;
}
#enviar {
  background-color: #261a32;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 5px;
}

.drawing-board {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Añade un overflow:hidden para evitar que el canvas se desborde */
}

canvas {
  border: 2px solid #9455dc; /* Color del borde del canvas */
  border-radius: 15px;
  width: 100%; /* Establece el ancho del canvas al 100% del contenedor */
  height: 19.66vw; /* Establece la altura del canvas al 100% del contenedor */
  background-color: #ffffff;
}

/* styles.css */

/* Estilos específicos para el navbar */
/* CSS */

/* Estilos específicos para el navbar */
.navbar {
  font-weight: bold;
  font-family: 'Poppins', Helvetica;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #1c1c1c;
}

.navbar .logo {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 4px;
  text-transform: uppercase;
}

.navbar .logo img {
  margin-right: 10px;
}

.navbar .menu {
  display: flex;
  gap: 30px;
}

.navbar .menu a {
  color: #9455dc;
  text-decoration: none;
}

.navbar .buttons {
  display: flex;
  gap: 20px;
}

.navbar .buttons a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 12px;
}

.navbar .buttons .register {
  background-color: #9455dc;
}

#comment-input {
  width: 120vh;
  border-radius: 8px;
}

.player-list {
  width: 200px;
  padding: 50px;
}
.player {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.player .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 40px;
  
}
.player .name {
  font-weight: bold;
}
.player .score {
  color: #9455dc;
}

.bg-custom {
  background-color: #343337;
}



.button-back {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100%; /* Ajusta la altura del botón para que ocupe todo el div */
  background-color: #9455dc;
  border-radius: 15px;
  margin-bottom: 1rem; 
}

.button-back i {
    font-size: 1.5rem; /* Ajusta el tamaño del icono según sea necesario */
}

.icon-size {
  font-size: 2rem; /* Cambia el tamaño del icono según sea necesario */
}

.btn-clear {
  background-color: #ab6bff;
  color: white; /* Cambia el color del texto para que sea legible sobre el fondo */
  border: none; /* Quita el borde */
  padding: 15px; /* Ajusta el relleno según sea necesario */
  border-radius: 0.25rem; /* Agrega bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Agrega una transición suave al cambio de color de fondo */
}

.btn-clear:hover {
  background-color: #8b53e1; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}


#timer {
  background-color: black; /* Fondo negro */
  color: white; /* Texto blanco para contraste */
  text-align: center; /* Centrar el texto */
  padding: 0.5rem; /* Añadir un poco de espacio alrededor del texto */
  border-radius: 0.25rem; /* Bordes redondeados */
  width: 50%;
}

#stroke {
  color: black; /* Color del borde y del cursor */
  border-radius: 4px; /* Redondear las esquinas */
}
.player1 {
  background-color: #9455dc; /* Color de fondo */
}

#ahorcado {
  font-size: 1.8rem; /* Ajusta el tamaño del guion bajo según sea necesario */
  background-color: #9455dc;
  padding-left: 10%;
}