/* CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: auto; /* Agrega overflow:auto para permitir el desplazamiento cuando el contenido exceda el tamaño de la ventana */
  font-family: 'Poppins', Helvetica;
  background-color: #1c1c1c; /* Color de fondo general */
  padding: 3.5vh;
}


.container {
  display: flex;

}

#toolbar {
  padding: 20px;
  background-color: #343337; /* Color de fondo del menú lateral */
}

#toolbar h1, #toolbar h2 {
  margin-bottom: 20px;
  text-align: center;
}

#toolbar label {
  display: block;
  margin-bottom: 10px;
}

#toolbar input[type="color"],
#toolbar input[type="number"],
#toolbar button {
  width: 100%;
  margin-bottom: 2vh;
}

#toolbar button {
  background-color: #305cd5;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 5px;
}

.drawing-board {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Añade un overflow:hidden para evitar que el canvas se desborde */
}

canvas {
  border: 2px solid #9455dc; /* Color del borde del canvas */
  border-radius: 15px;
  width: 100%; /* Establece el ancho del canvas al 100% del contenedor */
  height: 19.66vw; /* Establece la altura del canvas al 100% del contenedor */
}

/* styles.css */

/* Estilos específicos para el navbar */
/* CSS */

/* Estilos específicos para el navbar */
.navbar {
  font-family: 'Poppins', Helvetica;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #1c1c1c;
}

.navbar .logo {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
}

.navbar .logo img {
  margin-right: 10px;
}

.navbar .menu {
  display: flex;
  gap: 30px;
}

.navbar .menu a {
  color: #9455dc;
  text-decoration: none;
}

.navbar .buttons {
  display: flex;
  gap: 20px;
}

.navbar .buttons a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 12px;
}

.navbar .buttons .register {
  background-color: #9455dc;
}

#comment-input {
  width: 120vh;
  border-radius: 8px;
}